<div class="col-sm-8 blog-main">

  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <%= link_to 'Show', @blog %> |
  <%= link_to 'Back', blogs_path %>

<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
