<div class="masthead clearfix">
  <div class="inner">
<<<<<<< HEAD
    <h3 class="masthead-brand">Zheko Karchev</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>      
=======
    <h3 class="masthead-brand">Jordan Hudgens</h3>
    <nav class="nav nav-masthead app-nav">
      <%= nav_helper 'nav-link', 'span' %>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>