<div class="mastfoot">
  <div class="inner">
<<<<<<< HEAD
    <p><%= copyright_generator %></p>
=======
    <p class="app-footer"><%= copyright_generator %></p>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
  </div>
</div>