<div class="blog-header">
  <div class="container">
<<<<<<< HEAD
    <h1 class="blog-title">My Blog</h1>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
    <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
=======
    <h1 class="blog-title">Dev Thoughts</h1>
    <p class="lead blog-description">Musings from my development journey.</p>
    <span>
      <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span>
      <%= link_to "Topics", topics_path %>
    </span>
  </div>
</div>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
