<footer class="text-muted">
  <div class="container">
    <p class="float-right">
<<<<<<< HEAD
      <%= link_to "View All Portfolio Items", portfolios_path %> | 
=======
      <%= link_to "View All Portfolio Items", portfolios_path %> / 
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
      <a href="#">Back to top</a>
    </p>
    <p>
      <%= copyright_generator %>
<<<<<<< HEAD
    </p>    
=======
    </p>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
  </div>
</footer>