<div class="inner cover">
<<<<<<< HEAD
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <p class="lead">
    <!--<a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a> -->
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



   
=======
  <h1 class="cover-heading">Welcome to my online home.</h1>
  <p class="lead">
    <span class="element"></span>
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
>>>>>>> d9ac59bad4e94b57160610617dfc83560657564d
